<!DOCTYPE html>
<html>
<head>
    <title>Live Map</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<div id="map"></div>
<!-- Date and time inputs -->
Start Date: <input type="date" id="start-date">
Start Time: <input type="time" id="start-time" step="1">
End Date: <input type="date" id="end-date">
End Time: <input type="time" id="end-time" step="1">
<button onclick="fetchData()">Filter Data</button>
<button onclick="resetInputs()">Reset</button>
<script>


function fetchData() {
    // Get the date and time values from the inputs
    const startDate = document.getElementById('start-date').value;
    const startTime = document.getElementById('start-time').value;
    const endDate = document.getElementById('end-date').value;
    const endTime = document.getElementById('end-time').value;

    

    const startDateTime = startDate && startTime ? `${startDate}T${startTime}` : '';    
    const endDateTime = endDate && endTime ? `${endDate}T${endTime}` : '';

    if (startDateTime && endDateTime && new Date(startDateTime) > new Date(endDateTime)) {
        alert('Start date and time must be earlier than end date and time.');
        resetInputs();
        return;
    }

    let queryString = '';
    if (startDateTime && endDateTime) {
        queryString = `?start=${encodeURIComponent(startDateTime)}&end=${encodeURIComponent(endDateTime)}`;
        console.table(queryString);
    }

    // Fetch the data from the Flask backend
    fetch('/data' + queryString)
        .then(response => response.json())
        .then(figure => {
        Plotly.newPlot('map', figure.data, figure.layout);})
        .catch(error => console.error('Error fetching data:', error));
}

function resetStartDatetimeInput(){
    document.getElementById('start-date').value='';
    document.getElementById('start-time').value='';
}

function resetEndDatetimeInput(){
    document.getElementById('end-date').value='';
    document.getElementById('end-time').value='';
}

function resetInputs(){
    resetStartDatetimeInput();
    resetEndDatetimeInput();
    fetchData();
}

// Initial fetch
fetchData();

// Update the map every 5 seconds
setInterval(fetchData, 5000);
</script>

</body>
</html>
